$background-color: #E5E7ED;
$dark-blue: #5C687B;
$darker-blue: #353E50;
$darkest-blue: #252932;
$green: #36c060;

$bigger-font-size: 24px;
$big-font-size: 22px;
$normal-font-size: 18px;
$small-font-size: 16px;
$smaller-font-size: 14px;

$font-family: 'Roboto';
